.red-button:hover {
  background-color: #7f1d1d !important;
  color: #ffffff !important;
  border: transparent transition all;
}

.red-button {
  border: grey 1px solid;
  color: black;
  border: transparent transition all;
}

input:disabled {
  background-color: #f0f0f0;
  color: rgb(66, 66, 66);
  cursor: not-allowed;
  caret-color: transparent;
}
textarea:disabled{
  background-color: #f0f0f0;
  color: rgb(66, 66, 66);
  cursor: not-allowed;
  caret-color: transparent;
}
select:disabled{
  background-color: #f0f0f0;
  color: rgb(66, 66, 66);
  cursor: not-allowed;
  caret-color: transparent;
}

.ocr-btn{
  color:white;
}

.select-file{
  display: inline-block;
  background-color: transparent; 
  color: black;
  border: 2px solid black; 
  border-radius: 5px; 
  cursor: pointer;
}